// colors
$c-primary: #00B7F0;
$c-primary-light: #EBFAFF;
$c-secondary: #09435F;
$c-white: #FFFFFF;
$c-gray: #989898;
$c-border: #D8E2EF;
$c-error: #F6465D;
// font sizes
$fs-extra-small: 10px;
$fs-small: 12px;
$fs-default: 14px;
$fs-big: 16px;
$fs-extra-big: 18px;
